<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/<%= css %>">
</head>
<body>
    <nav id="navbar">
        <div>
            <a href="/">
                <img src="https://png.pngtree.com/png-vector/20230304/ourmid/pngtree-colorful-blog-speech-bubble-vector-png-image_6633021.png" alt="">
            </a>
        </div>
        <div>
            <% if(user){ %>
                <div>
                    <a href="/dashboard">
                        <img src="/images/users/<%= user.avatar %>" alt="">
                    </a>
                </div>
                <div>
                    <a href="/logout">Log out</a>
                </div>
              <% } else{ %>  
                <div>
                    <a href="/login">Login</a>
                </div>
             <% } %>
        </div>
    </nav>
