div{
    padding: 20px 100px;
}
div form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
input[type="text"], textarea{
    padding: 20px;
    outline: none;
    width: 500px;
}
button{
    padding: 10px 40px;
    color: #fff;
    background-color: #2374E1;
    border: none;
}
