@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    background-color: #36a9e6;
    align-items: center;
    position: fixed; 
     top: 0;
    left: 0;
    right: 0; 
}

nav img{
    width: 100px;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
} 